/* Rodapé */
footer {
    background-color: #001A47;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    bottom: 0px;
}

.redes__sociais .redes__titulo {
    display: flex;   
    align-self: center;
    margin-bottom: 0.5vw;
    font-family: "Jura", sans-serif;
    color: white;
    font-size: 1.5vw;
}

.rodape .rodape__logo {
    width: 7vw;
    

}
.rodape .rodape__play {
    width: 12vw;
    height: auto;
    margin-left: 5vw;
    padding-left: 2.5vw;
    border-left: 2px white solid;
    margin-right: 0px;
}

.rodape .rodape__app {
    width: 12vw;
    height: auto;
    padding-left: 3vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    margin-right: 0;
    border-left: 2px white solid;
}


.redes__sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px white solid;
    padding-left: 3.5vw;
}

.redes__icones {
    display: flex;
    flex-direction: row;
}

.redes__icones ul {
    list-style-type: none;
}

.redes__sociais img{
    margin: 0.2vw;
    padding: 0;
    width: 1vw;
}

.contatos {
    margin-left: 1vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-left: 2px white solid;
}

.contatos__telefone {
    display: flex;
    gap: 1vw;
}

.contatos__site {
    display: flex;
    gap: 1vw;
}

.contatos__email {
    display: flex;
    gap: 1vw;
}

.texto__telefone {
    font-family: "Jura", sans-serif;
    color: white;
    font-size: 0.7vw;
}

.texto__site {
    font-family: "Jura", sans-serif;
    color: white;
    font-size: 0.7vw;
}

.texto__email {
    font-family: "Jura", sans-serif;
    color: white;
    font-size: 0.7vw;
}

.contatos img {
    width: 1vw;
}