* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Conteúdo */
main {
    background-color: white;
}

/* Cabeçalho */
header {
    background-color: black;
}

/* Rodapé */
footer {
    background-color: #001A47;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}


.rodape{
    height: auto
}


.redes__sociais .redes__titulo {
    display: flex;   
    align-self: center;
    margin-bottom: 10px;
    font-family: "Jura", sans-serif;;
}

.rodape .rodape__imagens {
    margin: 0 10px;
    width: 10%;
    height: auto;
}

.redes__sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes__icones {
    display: flex;
    flex-direction: row;
}

.redes__icones ul {
    list-style-type: none;
}

.redes__sociais img{
    margin: 5px;
    padding: 0px;
    width: 30px;
    height: 30px;
}

.contatos {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contatos__telefone {
    display: flex;
    gap: 20px;
}

.contatos__site {
    display: flex;
    gap: 20px;
}

.contatos__email {
    display: flex;
    gap: 20px;
}

.texto__telefone {
    font-family: "Jura", sans-serif;
}

.texto__site {
    font-family: "Jura", sans-serif;
}

.texto__email {
    font-family: "Jura", sans-serif;
}

.contatos img {
    width: 30px;
}