* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Conteúdo */
main {
    background-color: white;
}

/* Cabeçalho */
header {
    background-color: black;
}

/* Rodapé */
footer {
    background-color: #001A47;
    display: flex;
    flex-direction: row;
}
