* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* Conteúdo */
main {
    background-color: #D9F1FF;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
    height: auto;
    min-width: 20vw;
    max-width: 100vw;
}

.conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(255, 255, 255, 0.80);
    margin: 100px;
    padding: 40px;
    height: 60vh;
    max-width: 75vw;
    box-shadow: 5px 5px 15px 0px black;
    border-radius: 10px;
}

.conteudo .imagem{
    padding: 20px;
    justify-content: center;
    align-self: center;
}

.imagem img{
    border-radius: 15px;
    max-width: 100%;
}

.texto{
    padding: 50px;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
    grid-row: span 1;
    max-width: 100%;
}
.conteudo .conteudo__titulo {
    color: #001A47;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 46px;
}

.conteudo__texto{
    margin-top: 15px;
    color: #001A47;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-size: 100%;
}

