.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close__button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #001A47;
}

.open__button {
  background-color: #00102c;
  font-size: 36px;
  color: white;
  cursor: pointer;
  border: none;
}

.open__button:hover {
  scale: 1.1;
}

.chat__titulo {
  font-family: "Jura", sans-serif;
  font-size: 36px;
  color:#001A47;
}

.chat__texto {
  font-family: "Jura", sans-serif;
  font-size: 14px;
  color:#001A47;
}

.chat__msg {
  display: flex;
  margin-top: 30px;
  gap: 15px;
}

.chat__input {
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.30);
  border-radius: 40px;
  width: 250px;
  height: 30px;
  padding: 20px;
}

.chat__input:focus {
  outline: 0;
}

.chat__send {
  display: none;
}

@media (max-width: 1440px) {
  .modal__content {
      width: 450px;
      padding: 18px;
  }

  .open__button {
      font-size: 32px;
  }

  .chat__titulo {
      font-size: 32px;
  }

  .chat__texto {
      font-size: 12px;
  }

  .chat__input {
      width: 220px;
  }
}

@media (max-width: 1024px) {
  .modal__content {
      width: 400px;
      padding: 16px;
  }

  .open__button {
      font-size: 28px;
  }

  .chat__titulo {
      font-size: 28px;
  }

  .chat__texto {
      font-size: 12px;
  }

  .chat__input {
      width: 200px;
  }
}

@media (max-width: 640px) {
  .modal__content {
      width: 300px;
      padding: 14px;
  }

  .open__button {
      font-size: 24px;
  }

  .chat__titulo {
      font-size: 24px;
  }

  .chat__texto {
      font-size: 10px;
  }

  .chat__input {
      width: 180px;
      padding: 15px;
  }
}
