.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.caixa__entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 450px;
    width: 450px;
}

#recuperar__form {
    display: grid;
    grid-template-rows: auto;
    gap: 25px;
    justify-items: center;
}

.inputs {
    display: grid;
    gap: 25px;
    justify-items: center;
}

#recuperar__usuario,
#recuperar__email {
    border: none;
    border-radius: 35px;
    padding: 20px;
    width: 300px;
    height: 60px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.enviar {
    font-family: "Jura", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #001A47;
    color: white;
    width: 250px;
    height: 60px;
    cursor: pointer;
}

.enviar:hover {
    transform: scale(1.1);
}

#recuperar__usuario::placeholder,
#recuperar__email::placeholder {
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#recuperar__usuario:focus,
#recuperar__email:focus {
    border: none;
    outline: 0;
}

@media (max-width: 640px) {
    .caixa__entrada {
        width: 300px;
        padding: 40px;
    }

    #recuperar__usuario,
    #recuperar__email {
        width: 220px;
        height: 50px;
    }

    .enviar {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }
}
