.cabecalho {
    width: 100%;
    padding: 15px;
    background-color: #00102c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.navegacao .paginas {
    display: flex;
    gap: 50px;

}

.cabecalho .logo {
    width: 200px;
    margin-right: 0;
}

.cabecalho .procurar {
    border-radius: 40px;
    width: 400px;
    height: 50px;
    border: 2px solid white;
    background-color: #00102c;
    color: white;
    align-self: center;
    padding: 15px;
    padding-left: 20px;
    font-size: 14px;
    font-family: "Jura", sans-serif;
}

.procurar::placeholder {
    padding: 10px;
    background-image: url(../../img/header/lupa.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}

.procurar:focus {
    outline: 0
}

.paginas {
    list-style: none;
}

.paginas .link {
    font-family: "Jura", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
}
    .link:hover{
        color: #B1E2FD;
    }

@media (max-width: 1440px) {
        .cabecalho {
            gap: 50px;
        }

        .navegacao .paginas {
            gap: 40px;
        
        }
        
        .cabecalho .logo {
            width: 180px;
            margin-right: 0;
        }
        
        .cabecalho img {
            width: 100px;
        }
        
        
        .cabecalho .procurar {
            width: 300px;
            height: 50px;
            padding: 15px;
            padding-left: 20px;
            font-size: 14px;
        }
        
        .procurar::placeholder {
            padding: 10px;
            background-size: 25px;
        }       
        
        .paginas .link {
            font-size: 18px;
        }

    }

    @media (max-width: 1024px) {
        .cabecalho {
            gap: 50px;
        }

        .navegacao .paginas {
            gap: 40px;
        
        }
        
        .cabecalho .logo {
            width: 180px;
            margin-right: 0;
        }
        
        .cabecalho img {
            width: 100px;
        }
        
        
        .cabecalho .procurar {
            display: none;
        }
        
        .procurar::placeholder {
            padding: 10px;
            background-size: 25px;
        }       
        
        .paginas .link {
            font-size: 18px;
        }

    }

    @media (max-width: 640px) {
        .cabecalho {
            gap: 30px;
            flex-direction: column;
        }

        .navegacao .paginas {
            gap: 30px;
        
        }
        
        .cabecalho .logo {
            width: 180px;
            margin-right: 0;
        }
        
        .cabecalho img {
            width: 100px;
        }
        
        .procurar::placeholder {
            padding: 10px;
            background-size: 25px;
        }       
        
        .paginas .link {
            font-size: 18px;
        }

    }