.cabecalho {
    width: 100vw;
    padding: 15px;
    background-color: #00102c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.navegacao .paginas {
    margin-left: 4vw;
    display: flex;
    gap: 3vw;

}

.cabecalho .logo {
    width: 5vw;
    margin-right: 0;
}

.cabecalho img {
    width: 1.5vw;
}


.cabecalho .procurar {
    border-radius: 40px;
    width: 400px;
    height: 50px;
    border: 2px solid white;
    background-color: #00102c;
    color: white;
    align-self: center;
    padding: 15px;
    padding-left: 20px;
    font-size: 14px;
    font-family: "Jura", sans-serif;
}

.procurar::placeholder {
    padding: 10px;
    background-image: url(../../img/header/lupa.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}

.procurar:focus {
    outline: 0
}

.paginas {
    list-style: none;
}

.paginas .link {
    font-family: "Jura", sans-serif;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    /* transition: 0.2s ease-in; */

}
    .link:hover{
        color: #B1E2FD;
    }