.parte__conteudo {
    background-color: #001A47;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 100px;
    height: 80vh;
    align-items: flex-start;
    justify-content: center;
} 