.parte__conteudo {
    background-color: #00102c;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 100px;
    height: auto;
    align-items: flex-start;
    justify-content: center;
} 