.caixa__entrada {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 450px;
    height: 1000px;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.30);
}

.caixa__cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}


.campos {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cadastro__nome, .cadastro__email, .cadastro__data, .cadastro__telefone, .cadastro__rg, .cadastro__cpf, .cadastro__cep, .cadastro__endereco {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label_input_nome, .label_input_email, .label_input_data, .label_input_tel, .label_input_rg, .label_input_cpf, .label_input_cep, 
.label_input_endereco {
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 15px;
    color: #001A47;
}

#input_nome, #input_email, #input_data, #input_tel, #input_rg, #input_cpf, #input_cep, #input_endereco  {
    border: none;
    padding: 10px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.30);
}

#input_nome:focus, #input_email:focus, #input_data:focus, #input_tel:focus, #input_rg:focus, #input_cpf:focus, #input_cep:focus, #input_endereco:focus {
    border: none;
    outline: 0;
}

.cadastrar {
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #001A47;
    color: white;
    font-family: "Jura", sans-serif;
    font-size: 14px;
}

.cadastrar:hover {
    scale: 1.1;
}

@media (max-width: 640px) {
    .caixa__entrada {
        gap: 10px;
        width: 350px;
        height: 1000px;
    }

    .cadastro__nome, .cadastro__email, .cadastro__data, .cadastro__telefone, .cadastro__rg, .cadastro__cpf, .cadastro__cep, .cadastro__endereco {
        gap: 5px;
    }

    .label_input_nome, .label_input_email, .label_input_data, .label_input_tel, .label_input_rg, .label_input_cpf, .label_input_cep, 
    .label_input_endereco {
        font-size: 20px;
        padding-left: 15px;
    }
    
    #input_nome, #input_email, #input_data, #input_tel, #input_rg, #input_cpf, #input_cep, #input_endereco  {
        padding: 10px;
        width: 250px;
        height: 40px;
    }
    
    #input_nome:focus, #input_email:focus, #input_data:focus, #input_tel:focus, #input_rg:focus, #input_cpf:focus, #input_cep:focus, #input_endereco:focus {
        border: none;
        outline: 0;
    }
}