  .about {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
    overflow: hidden;
}

.about__titulo {
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 100px;
    justify-self: center;
    margin-top: 20px;
    color: white;
}

.about__texto {
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}

.caixa__um {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-list {
    overflow: hidden;
}

@media (max-width: 1440px) {
    .about__titulo {
        font-size: 80px;
    }

    .about__texto {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .about {
        max-width: 1000px;
    }

    .about__titulo {
        font-size: 60px;
    }

    .about__texto {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .about {
        max-width: 90%;
    }

    .about__titulo {
        font-size: 40px;
        margin-top: 10px;
    }

    .about__texto {
        font-size: 14px;
        padding: 10px;
    }
}
