* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main {
    background-color: #D9F1FF;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    height: auto;
    width: 100vw;
    margin: 0;
} */



.about__titulo {
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 5vw;
    align-self: center;
    margin-top: 20px;
    color: #001A47;
}

.about .caixa__um {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    height: auto;
    width: 80vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.about__nome {
    font-family: "Teko", sans-serif;
    font-size: 2vw;
    width: 150vw;
    margin-right: 20px;
    color: #001A47;
}

.about__rm {
    font-family: "Teko", sans-serif;
    font-size: 1.5vw;
    width: 30vw;
    color: #001A47;
}

.caixa__icones {
    width: 100%;
    color: #001A47;
}

.about__img {
    width: 10%;
    border-radius: 100px;
}

.about .caixa__dois {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    height: auto;
    width: 80vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black; 
}

.about .caixa__tres {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    height: auto;
    width: 80vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.about .caixa__quatro {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    height: auto;
    width: 80vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.icones {
    width: 15%;
}

@media (max-width: 1024px) {
    main {
        height: 100vh;
    }
}