/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.about__titulo {
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 5vw;
    align-self: center;
    margin-top: 20px;
    color: #001A47;
}

.about .caixa__um {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    height: auto;
    width: 80vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.about__nome {
    font-family: "Teko", sans-serif;
    font-size: 2vw;
    width: 150vw;
    margin-right: 20px;
    color: #001A47;
}

.about__rm {
    font-family: "Teko", sans-serif;
    font-size: 1.5vw;
    width: 30vw;
    color: #001A47;
}

.caixa__icones {
    width: 100%;
    color: #001A47;
}

.about__img {
    width: 10%;
    border-radius: 100px;
}


.icones {
    width: 15%;
} */

.about {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o container */
    overflow: hidden; /* Remove o scroll lateral gigante */
  }

  .about__titulo {
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 5vw;
    align-self: center;
    margin-top: 20px;
    color: #001A47;
}
  
  .caixa__um {
    width: 100%; /* Faz o card ocupar 100% da largura disponível */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
  }
  
  .slick-list {
    overflow: hidden; /* Garante que o scroll lateral não apareça */
  }