.openModalButton {
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Jura", sans-serif;
    background-color: #001A47;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.openModalButton:hover {
    scale: 1.1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background-color: rgba(255, 255, 255, 1);
    width: 450px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.entry__conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
}

.botao__login, .botao__cadastro {
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    font-family: "Jura", sans-serif;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.botao__login {
    background-color: #001A47;
    color: white;
}

.botao__login:hover, .botao__cadastro:hover {
    transform: scale(1.1);
}

.botao__cadastro {
    background-color: #D9F1FF;
    color: #001A47;
}

h1 {
    font-size: 20px;
    font-family: "Jura", sans-serif;
}


@media (max-width: 640px) {
    .modal {
        width: 70%;
    }


    .botao__login, .botao__cadastro {
        width: 100px;
        font-size: 16px;
    }
}
