* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entry__conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.80);
    padding: 0;
    height: 350px; 
    width: 450px;
    box-shadow: 5px 5px 15px 0px black;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    font-family: "Jura", sans-serif;
}

.botao__login {
    border: none;
    background-color: #001A47;
    color: white;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    font-family: "Jura", sans-serif;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.botao__cadastro {
    border: none;
    background-color: #D9F1FF;
    color: #001A47;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    font-family: "Jura", sans-serif;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
    .conteudo {
        flex-direction: column;
        gap: 5vw;
        justify-items: center;
    }

    .imagem img{
        width: 100%;
    }

    .conteudo .conteudo__titulo {
        margin-bottom: 0.5vh;
        font-size: 6vw;
    }
    
    .conteudo__texto{
        font-size: 1.6vw;
    }
}