* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa__entrada {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 450px; 
    width: 450px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.30);
    padding: 100px;
    border-radius: 10px;

}

#login__form {
    display: grid;
    grid-template-rows: auto;
    row-gap: 0.1vh;
    align-items: center;
    justify-items: center;
    align-items: center;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

#login__usuario {
    border: none;
    border-radius: 35px;
    padding: 20px;
    width: 250px;
    height: 50px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.20);
}

.inputs__senha {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.senha__inf {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#login__senha {
    border: none;
    border-radius: 35px;
    padding: 20px;
    width: 250px;
    height: 50px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.20);
}

.esqueceu {
    padding-left: 10px;
    text-decoration: none;
    font-family: "Jura", sans-serif;
    font-size: 12px;
}

.enviar {
    font-family: "Jura", sans-serif;
    font-size: 0.8vw;
    border: none;
    border-radius: 10px;
    background-color: #001A47;
    color: white;
    width: 7vw;
    height: 6vh;
}

.enviar:hover {
    scale: 1.1;
}

#login__usuario::placeholder {
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#login__senha::placeholder {
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#login__usuario:focus {
    border: none;
    outline: 0;
}

#login__senha:focus {
    border: none;
    outline: 0;
}

.lembrar {
    padding-left: 10px;
}

.label__check {
    font-family: "Jura", sans-serif;
    font-size: 12px;
}

@media(max-width: 1024px) {
    .caixa__entrada {
        width: 50vw;
        height: 60vh;
        padding: 100px;
    }
    
    #login__usuario {
        width: 20vw;
        height: 4vh;
    }

    .inputs__senha {
        gap: 0.5vh;
    }
    
    #login__senha {
        width: 20vw;
        height: 4vh;
    }
    
    .esqueceu {
        font-size: 1vw;
    }

    .lembrar {
        font-size: 1vw;
    }
    
    .enviar {
        font-size: 1.5vw;
        width: 8vw;
        height: 4vh;
    }
    
    #login__usuario::placeholder {
        font-size: 1vw;
    }
    
    #login__senha::placeholder {
        font-size: 1vw;
    }
    
    .label__check {
        font-size: 1vw;
    }
}

@media(max-width: 640px) {
    .caixa__entrada {
        width: 70vw;
        height: 60vh;
        padding: 100px;
    }
    
    #login__usuario {
        width: 35vw;
        height: 4vh;
    }

    .inputs__senha {
        gap: 0.5vh;
    }
    
    #login__senha {
        width: 35vw;
        height: 4vh;
    }
    
    .esqueceu {
        font-size: 2vw;
    }
    

    .enviar {
        font-size: 2.5vw;
        width: 17vw;
        height: 4vh;
    }
    
    #login__usuario::placeholder {
        font-size: 2vw;
    }
    
    #login__senha::placeholder {
        font-size: 2vw;
    }
    
    .label__check {
        font-size: 2vw;
    }
}