
.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.80);
    padding: 70px;
    height: auto;
    box-shadow: 5px 5px 15px 0px black;
    border-radius: 10px;
    gap: 40px;
    margin: 0;
}

.imagem img{
    border-radius: 15px;
    width: 500px;
    
}

.texto{
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    display: flex;
    height: auto;
    justify-content: left;
    flex-direction: column;
}

.conteudo__titulo {
    color: #001A47;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.conteudo__texto{
    margin-top: 1vw;
    color: #001A47;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
