.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  
  .modal__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .close__button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #001A47;
  }
  
  .btn__modal {
    background-color: #001A47;
    font-size: 36px;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Jura", sans-serif;
    width: 200px;
    height: 75px;
    border-radius: 10px;
  }

  .btn__modal:hover {
    scale: 1.1;
  }

  .agenda__titulo {
    font-size: 58px;
    font-weight: 800;
}

.agenda__conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.conteudo__agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    width: 30%;
    height: auto;
    border-radius: 20px;
}

.agenda__entrada {
    display: flex;
}

.agenda__nota {
    background-color: white;
    border-radius: 50px;
    border: 0;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 300px;
    height: 50px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.30);
    font-size: 12px;
    font-family: "Jura", sans-serif;
}

.agenda__nota:focus {
    outline: 0;
}

.agenda__nota::placeholder {
    font-family: "Jura", sans-serif;
}

.date {
    border: none;
    background-color: #66C5FC;
    align-self: center;
    color: #001A47;
    padding: 20px;
    border-radius: 30px;
    width: 150px;
    height: auto;
}

.date::placeholder {
    font-family: "Jura", sans-serif;
}

@media (max-width: 1440px) {
    .agenda__titulo {
        font-size: 72px;
    }
    
    .agenda__conteudo {
        align-items: center;
        gap: 30px;
        padding: 40px;
    }
    
    .agenda__nota {
        padding: 25px;
        width: 50%;
        height: 50px;
        font-size: 12px;
    }
    
    .conteudo__agenda {
        width: 400px;
    }
    
    .agenda__entrada {
        display: flex;
    }
    
    .date {
        padding: 20px;
        width: 200px;
    }
}

@media (max-width: 1024px) {
    .agenda__titulo {
        font-size: 56px;
    }
    
    .agenda__conteudo {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        padding: 40px;
    }
    
    .conteudo__agenda {
        width: 70%;
        display: flex;
        align-items: center;
    }
    
    .agenda__entrada {
        gap: 10px;
    }
    
    .date {
        padding: 20px;
        width: 150px;
    }
}

@media (max-width: 640px) {
    .agenda__titulo {
        font-size: 40px;
    }
    
    .agenda__conteudo {
        gap: 20px;
        padding: 30px;
    }

    .conteudo__agenda {
        width: 70%;
        display: flex;
        align-items: center;
    }
    
    .agenda__entrada {
        gap: 10px;
    }
 
    .date {
        padding: 20px;
        width: 70px;
        height: 30px;
    }
    
    .agenda__nota {
        padding: 0px;
        width: 100px;
        height: 40px;
        font-size: 8px;
        align-self: center;
        justify-self: center;
    }
}

